html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: sans-serif;
}

#bar-handle {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 6px;
    background: #ccc;
    cursor: pointer;
    z-index: 3;
}

#bar {
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    display: flex;
    background: #eee;
    height: 50px;
}

body.bar-visible #bar {
    position: fixed;
}

#bar input {
    flex: 1;
    font-size: 16px;
    border-radius: 8px; /* Вось гэтае правіла */
    border: 1px solid #ccc; /* неабавязкова — для прыгажосці */
}

#viewer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    z-index: 1;
}